
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2e2e2;
}

.calculator {
  width: 330px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

#display {
  width: 100%;
  height: 60px;
  background:white;
  color: rgb(15, 17, 15);
  font-size: 28px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #333;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background:rgb(33, 46, 221)
}

.op {
  background: #ff9f0a;
}

.op:hover {
  background: #e58900;
}

.clear {
  background: #ff3b30;
}

.clear:hover {
  background: #d42e24;
}

.equal {
  background: #34c759;
}

.equal:hover {
  background: #28a745;
}


@media  (max-width: 400px) {
  .calculator {
    width: 90%;
  }

  button {
    padding: 16px;
    font-size: 18px;
  }
}

