 body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 400px;
  background-color: #0f0303;
}

.calculator {
  background: rgb(102, 5, 5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 10px;
}

.buttons button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
} 










